@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #d1eff3 !default;
$link-color:      #4289e6 !default;

$background-color: #131d25 !default;
$background-color-light1: lighten($background-color, 3%);
$background-color-light1half: lighten($background-color, 6%);
$background-color-light2: lighten($background-color, 10%);
$background-color-light3: lighten($background-color, 15%);

$accent-color:       #da5b28 !default;
$accent-color-light: lighten($accent-color, 15%) !default;
$accent-color-lighter: lighten($accent-color, 30%) !default;
$accent-color-dark:  darken($accent-color, 15%) !default;
$accent-color-darker:  darken($accent-color, 30%) !default;

$comment-color: hsl(43, 10%, 40%) !default;
$string-color: hsl(35, 50%, 50%) !default;
$string-escape: hsl(50, 70%, 70%) !default;
$literal-color: hsl(185, 70%, 50%) !default;
$literal-hex-color: hsl(190, 70%, 50%) !default;
$literal-oct-color: hsl(195, 70%, 50%) !default;
$literal-float-color: hsl(278, 60%, 60%) !default;
$operator-color: darken($text-color, 20%) !default;
$keyword-color: hsl(18, 50%, 60%) !default; // python def, return, class, pass
$builtin-color: hsl(9, 55%, 55%) !default; // python builtin types (int, bool, etc)
$pseudo-bool-color: $builtin-color !default;
$class-color: hsl(100, 55%, 55%) !default;
$function-color: hsl(60, 50%, 50%) !default;
$error-color: hsl(22, 80%, 55%) !default;
$undefined-color: hsl(300, 100%, 50%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout"
;
